@model project1.Models.BookAutherViewModles

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookAutherViewModles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="AutherId" class="custom-control-label"></label>
                <select asp-for="AutherId" class="form-control" asp-items="@(new SelectList(Model.Authers, "id", "FullName"))"></select>
                <span asp-validation-for="AutherId" class="btn text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="File" class="custom-file"></label>
                <input asp-for="File" class="form-control" name="File" type="file" />
                <span asp-validation-for="File" class="btn text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
